<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="/styleVer.css">

    <title>Productos y cantidad</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Inicio</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/db/registrar">Registrar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/db/modificar">Modificar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/db/ver">Ver base de datos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/db/eliminar">Eliminar</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
    <main>
        <header class="mt-5 text-center">
            <h2>Productos y Cantidad</h2>
        </header>
        
        <table class="container mt-4 mt-lg-5 table-sql">
                <tr class="row justify-content-center mt-3 fila-sql">
                    <td class="col text-center">
                        Producto
                        <hr class="hr-titulo">
                    </td>
                    <td class="col text-center">
                        Cantidad
                        <hr class="hr-titulo">
                    </td>
                </tr>
            <% for(let i=0; i < data.length; i++) { %>
                <tr class="row justify-content-center mt-3 fila-sql">
                    <td class="col text-center">
                        <%= data[i]['nombre'] %>
                        <hr class="hr-producto">
                    </td>
                    <td class="col text-center elemento-cantidad">
                        <%= data[i]['cantidad'] %>
                        <hr class="hr-producto">
                    </td>
                </tr>
            <% } %>
                <tr class="row mt-3 mb-3">
                    <td class="col text-center">
                        <a href="/" class="btn btn-secondary">Regresar a inicio</a>
                    </td>
                </tr>
        </table>


        

    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
</body>

</html>