body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.modificar-form{
    width: 60vw;
    background-color: whitesmoke;
    border-radius: 1rem;
    border: 2px solid black;
}

@media (max-width: 575.98px) {
    .modificar-form{
        width: 90vw;
    }
}