body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.seccion-links{
    width: 40vw;
    background-color: whitesmoke;
    border: 2px solid black;
    border-radius: 1rem;
}

@media (max-width: 767.98px) {
    header{
        margin-top: 5rem;
    }
    h1{
        font-size: 1.75rem;
    }
    h3{
        font-size: 1.2rem;
    }
    .seccion-links {
        width: 90vw;
    }
}